[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
flask = "==2.0.2"
itsdangerous = "*"
click = "*"
Jinja2 = "==3.0.3"
MarkupSafe = "*"
Werkzeug = "*"
pyOpenSSL = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
