
html {
   height: 100%;
   scroll-behavior: smooth;

}


/* width */
::-webkit-scrollbar {
     width: 10px;
     height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
     background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
     border-radius: 5px;
     background: #ccdae5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #5582A8;
}

#table>tbody {
   display: flex;
   flex-direction: column;
}
body {
   height: 100%;
}
.buildings {
   border-bottom: solid 2px lightgray;
   padding: 5px;
   font-weight: 700;
   margin-top: 10px;
}


thead {
   cursor: pointer;
   user-select: none;
}
#table>thead>tr>th {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.sort-down:after {
   font-family: 'Material Icons';
   font-size: 24px;
   margin-right: 7px;
   content: "expand_less";
}
.sort-up:after {
   font-family: 'Material Icons';
   font-size: 24px;
   margin-right: 7px;
   content: "expand_more";
}

#container {
   display: flex;
   flex-direction: row;
   flex-basis: 0;
   width: 100%;
   flex-grow: 1;
   height: calc(100% - 2.5rem - 20px);
   overflow: auto;
}

#open {
   content: "map close";
}
#search-bar>.button {
   font-size: 20px;
   height: 39px;
   margin-left: 10px;

}
.button {
   border: solid 2px #5582A8;
   transition: border 0.2s, background 0.2s, color 0.2s;
}
.button.toggle-on {
   background-color: white;
   color: #5582A8;
}
.button.toggle-on:hover {
   background-color: #c4ddef;
   border: solid 2px #5582A8;
}
.btn-primary.toggle-on:not(:disabled):not(.disabled):active,
.button.toggle-on:active {
   background-color: #b3cfe3;
   border: solid 2px #5582A8;
   color: #5582A8;
}
.container {
   height: 100%;
   display: flex;
   flex-direction: column;
   padding: 20px;
   margin: auto;
   width: 100%;
   max-width: 1300px;

}

.material-icons {
   user-select: none;
}

#table-container {
   flex-basis: 0;
   flex-grow: 1;
   width: auto;
   overflow: auto;
   display: flex;
   flex-direction: column;
   overflow-y: hidden;
}

#table {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-basis: 0;
   align-items: stretch;
}
#table>tbody {
   flex-grow: 1;
   flex-basis: 0;
   overflow: auto;
}
#table>thead>tr,
#table>tbody>tr {
   display: flex;
   flex-direction: row;
   align-items: stretch;
}
#table>thead>tr>th:nth-child(1),
#table>tbody>tr>td:nth-child(1)
{
   flex-grow: 2.5;
   flex-basis: 0;
   padding-left: 0;
   padding-right: 0;
}
#table>thead>tr>th:nth-child(2),
#table>tbody>tr>td:nth-child(2)
{
   flex-grow: 1;
   flex-basis: 0;
   padding-left: 0;
   padding-right: 0;
}
#table>thead>tr>th:nth-child(3),
#table>tbody>tr>td:nth-child(3)
{
   flex-grow: 1;
   flex-basis: 0;
   padding-left: 0;
   padding-right: 0;
}
#table>thead>tr>th:nth-child(4),
#table>tbody>tr>td:nth-child(4)
{
   flex-grow: 0.7;
   flex-basis: 0;
   padding-left: 0;
   padding-right: 0;
}

#map {
   flex-grow: 1;
   flex-basis: 0;
   margin: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
}

#map-1 {
   position: relative;
}

.circle {
   position: absolute;
   width: 60px;
   height: 60px;
   border: solid #3c5c77 5px;
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 30px;
   left: 0;
   pointer-events: none;
   transition: left 0.5s, top 0.5s, opacity 0.5s;
   box-sizing: border-box;
}
.circle>span {
   width: 40px;
   height: 30px;
   background: white;
   border: solid #008afa 2px;
   color: #008afa;
   font-size: 18px;
   font-weight: 700;
   position: absolute;
   left: 5px;
   top: 9px;
   border-radius: 3px;
   text-align: center;
   cursor: pointer;
}

.button {
   background-color: #5582A8;
   color: white;
   transition: background-color 0.5s;
   cursor: pointer;
   border-color: #6690b2

}

.button:hover {
   background-color: #3c5c77;
}
#search-bar {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 10px;
}
#search {
   flex-grow: 1;
   height: 35px;
   padding-left: 10px;
   border: none;
}
#search:focus {
   box-shadow: none;
}
#search-bar:nth-child(1) {
   height: 24px;
   margin-left: 5px;
}
#search-rect {
   padding-right: 5px;
   margin-left: 10px;
   border: solid #5582A8 2px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   flex-basis: 0;
   flex-grow: 1;
   flex-direction: row;
}
.building-filter {
   background: #5582A8;
   color: white;
   font-size: 15px;
   padding: 0 10px;
   height: 25px;
   border-radius: 3px;
   margin-right: 3px;
   user-select: none;
   cursor: pointer;
}
.building-filter:before {
   font-family: "Material Icons";
   font-size: 15px;
   content: "close";
   margin-right: 5px;
   position: relative;
   top: 2px;

}
.table th {
   border-top: none;
}
#title {
   user-select: none;
}
#title-back  {
   font-size: 24px;
   margin: 5px 10px 5px 0;
   cursor: pointer;
   padding: 7px;
   border-radius: 19px;
   transition: background-color .5s;
}
#title-back:hover {
   background-color: rgba(0, 0, 0, 0.1);
}
#no-map {
   font-size: 25px;
}
@media only screen and (max-width: 768px) {
   #map {
      display: none;
      flex-grow: unset;
   }

   tr {
      height: 50px;
   }

   td {
      padding-top: 15px !important;
   }

   #container {
      flex-direction: column;
   }
}

.buildings:hover{
     background-color: white !important;
}
